.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loader {
  color: #fff;
}
.blog-title {
  font-size: 50px;
  font-weight: 900;
}
.comments-box {
  padding: 10px 40px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.comments-box:hover {
  color: black;
}
.createdat {
  font-size: 14px;
  color: gray;
}
.mypost {
  height: 30px;
  background-color: #f2f2f2;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
  display: flex;
}
@media screen and (max-width: 770px) {
  .blog-cover {
    width: 300px;
  }
}
