main {
  border-bottom: 1px solid black;
  background-color: #ffc017;
}
.main-container {
  height: 80vh;
}
.main-title {
  font-size: clamp(40px, 100%, 120px);
  letter-spacing: -0.05em;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  color: black;
  font-weight: 400;
}
.main-paragraph {
  font-size: 30px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.start-reading-button {
  background: rgba(25, 25, 25, 1);
  border-color: rgba(25, 25, 25, 1);
  padding: 5px 40px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  width: 213px;
}
.signup-button {
  background: rgba(25, 25, 25, 1);
  border-color: rgba(25, 25, 25, 1);
  padding: 5px 40px;
  border-radius: 20px;
}
.start-reading-button:hover,
.signup-button:hover,
.signup-button:active,
.start-reading-button:active {
  background: black;
  border-color: #242424;
}
.signup-title {
  font-size: 20px;
}
.form-signup {
  font-size: 14px;
  border-top-left-radius: 20px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.form-signup:focus,
.form-signup:target {
  box-shadow: none;
  border-color: black;
}
.form-signup[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 30px;
  border: none;
}
.input-typefile {
  border-color: transparent;
}
.welcome-modal {
  z-index: 999;
}
