.nav-tabs .nav-link {
    margin-bottom: 0;
    border: none;
}
.nav-link{
    display: inline;
    color: rgb(99, 99, 99);
}
.nav-tabs {
    --bs-nav-tabs-border-color: rgb(255, 255, 255);
}
.nav-tabs .nav-link.active {
    padding: 20px;
    border-bottom: 1px solid black;
}
.nav-tabs .nav-link {
    padding: 20px;
}