.nav-tabs .nav-link {
  margin-bottom: 0;
  border: none;
}
.nav-link {
  display: inline;
  color: rgb(99, 99, 99);
}
.nav-tabs {
  --bs-nav-tabs-border-color: rgb(255, 255, 255);
}
.nav-tabs .nav-link.active {
  padding: 20px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.nav-tabs .nav-link {
  padding: 20px;
}

.biography-container {
  border-top: 1px solid rgb(236, 236, 236);
  border-bottom: 1px solid rgb(236, 236, 236);
}
.biography-button {
  padding: 10px 20px;
  border-radius: 70px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(54, 54, 54);
  color: black;
}
.biography-button:hover {
  padding: 10px 20px;
  border-radius: 70px;
  background-color: rgb(10, 10, 10);
  border: 1px solid rgb(58, 58, 58);
  color: rgb(255, 255, 255);
}
.biography-edit {
  border: transparent;
}
.biography-edit:focus {
  border: transparent;
  box-shadow: none;
}
