.image-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden; /* Assicura che l'immagine non esca dai limiti del cerchio */
    display: flex; /* Abilita la flessibilità */
    justify-content: center; /* Centra orizzontalmente l'immagine */
    align-items: center; /* Centra verticalmente l'immagine */
}

.image-container img {
    max-height: 100%;
    object-fit: cover; /* Assicura che l'immagine si adatti completamente all'area */
}