.popularposts-title,
.recommendedtopics-name,
.follows-name,
.recentlysaved-name {
  font-weight: 800;
}
.popularpost-name {
  font-size: 14px;
}
.topic-container {
  background-color: rgb(241, 241, 241);
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}
.topic-container:hover {
  background-color: rgb(224, 224, 224);
}
.recommendedtopics-container {
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
}
.follow-image {
  width: 40px;
  height: 40px;
}
.follow-button {
  font-size: 13px;
  background-color: white;
  padding: 5px 7px;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
}
.follow-button:hover {
  background-color: black;
  color: rgb(255, 255, 255);
  border: 1px solid white;
}
.savedpost-image {
  border-radius: 25px;
  width: 25px;
  height: 25px;
}
.savedpost-title {
  font-size: 20px;
  font-weight: 800;
}
.savedpost-meta {
  color: rgb(97, 97, 97);
  font-size: 14px;
}
.loader-sidebar {
  color: #e2e2e2;
}
