.article-container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  max-width: 680px;
}

.author-container {
  display: flex;
  align-items: center;
}

.author-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.author-name {
  margin-left: 8px;
  cursor: pointer;
}

.readtime {
  font-size: clamp(0.7rem, (0.7vw), 1rem);
}

.category-text {
  font-size: clamp(0.7rem, (0.7vw), 1rem);
}

.feed {
  padding-top: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.feed-topside {
  padding-bottom: 8px;
}

.feed-title-container {
  cursor: pointer;
  padding-bottom: 8px;
}

.feed-title {
  font-size: clamp(0.8rem, (1vw), 2rem);
  font-weight: 700;
}

.feed-description-container {
  font-size: 16px;
  color: #242424;
  font-weight: 400;
}

.feed-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #242424;
  height: 45px;
}

.tag-container {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7f7f7f;
}

.left-side {
  display: flex;
  align-items: center;
}

.category {
  height: 30px;
  background-color: #f2f2f2;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
  display: flex;
}

.right-side {
  display: flex;
  align-items: center;
}

.bookmark-container {
  margin-right: 10px;
}

.fa-bookmark-tag {
  font-size: 16px;
  color: #7f7f7f;
  cursor: pointer;
}

.ellipsis-container {
  margin-right: 0px;
}

.fa-ellipsis {
  font-size: 16px;
  color: #7f7f7f;
  cursor: pointer;
}

.image-feed {
  width: clamp(80px, 80%, 150px);
  height: clamp(60px, 80%, 150px);
  object-fit: cover;
  cursor: pointer;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.member {
  margin-left: 5px;
  color: #6b6b6b;
  cursor: pointer;
}

.dot {
  margin: 0px 4px;
  font-size: 14px;
  margin-bottom: 7px;
}

p {
  margin-bottom: 0;
}
a {
  color: black;
}
