.blog-navbar-brand {
  margin-top: 10px;
  width: 30px;
}

.blog-navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  -webkit-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
  -moz-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
  box-shadow: 2px 0px 4px 1px rgba(222, 222, 222, 1);
  border-bottom: 1px #f2f2f2;
}
.write {
  color: #838383;
}
.write:hover {
  color: #686868;
}
.navbar-container {
  border-bottom: 1px solid #f2f2f2;
}
.navbar-mainpage-container {
  background-color: #ffc017;
  border-bottom: 1px solid black;
}
.form-control-navbar {
  background-color: transparent;
  border-radius: 20px;
  border: none;
  max-width: 300px;
}
.form-control-navbar:focus {
  background-color: #fafafa !important;
  border-color: transparent;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
}
.PiNotePencilThin .TfiBell {
  font-size: 100px;
}

.TfiBell {
  color: #838383;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-toggle.btn:first-child:active {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
.dropdown-toggle.btn {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
.dropdown-toggle.btn:hover {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
.dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px, rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: none;
  border-radius: 2px;
  width: 250px;
}
.sign-out {
  font-size: 14px;
}
.userEmail {
  font-size: 12px;
}
.font-weight {
  font-weight: 100;
}
.font-weight:hover {
  font-weight: 400;
}
.getstarted-button {
  border-radius: 20px;
  background-color: #000000;
  border: 0;
}
.getstarted-button:hover,
.getstarted-button:active {
  border-radius: 20px;
  background-color: #000000;
  border: 0;
}
.login-here {
  cursor: pointer;
}
.login-here:hover {
  text-decoration: underline;
}
