.author-card-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden; 
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.author-card-img img {
  max-height: 100%;
  object-fit: cover; 
}