body {
  font-family: "Mulish", sans-serif;
}

.pointer {
  cursor: pointer;
}
a {
  color: none;
  text-decoration: none;
}
.page {
  min-height: 80vh;
}
::-moz-selection {
  background: yellow;
}

::selection {
  background: yellow;
}
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}
.navbar-toggler:focus {
  box-shadow: none;
}